$cream: #FFF9F3;
$wine: #893F61;
$green: #82936D;
$mustard: #E2BF71;
$stone: #544C51;
$rose: #e5c0c9;

@mixin typeBody {
	font-family: 'Bree Serif', serif;
	font-size: 14pt;
	line-height: 1.7em;
	color: $stone;
}

@mixin typeHeader {
	font-family: 'Bree Serif', cursive;
	font-size: 18pt;
	line-height: 1.7em;
	color: $stone;
	text-align: center;
}

@mixin typeDisplay {
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 48pt;
	text-align: center;
	color: $mustard;
	margin-bottom: 1em;
	text-shadow: 0 2px 2px rgba(0,0,0,.2);
}

h1 {
	padding-top: 3rem;
	@include typeDisplay;
}

#intro h1 {
	padding-top: 0;
	color: $mustard;
}

#outro h1 {
	color: $cream;
}

#ourstory h1 {
	color: $wine;
}

#party h1 {
	color: $green;
}

h2 {
	@include typeHeader;
	margin-bottom: 1em;
}

#information h2 {
	margin-bottom: 0;
	margin-top: 1em;
	color: $mustard;
	text-align: left;
}

#party h2 {
	@include typeDisplay;
	font-size: 30pt;
	text-shadow: none;
}

#party h2 {
	color: $green;
}

#intro h2 {
	color: $cream;
}

h3 {
	@include typeHeader;
}

#information h3 {
	font-size: 14pt;
	color: $mustard;
	text-align: left;
}

h4 {
	@include typeHeader;
	font-size: 16pt;
}

p {
	@include typeBody;
	margin-bottom: 1em;
}

#intro p {
	color: $cream;
}

p.marasignature {
	text-align: right;
	color: $green;
}

p.philsignature {
	text-align: right;
	color: $green;
}

#information p {
	color: $cream;
	text-align: left;
	margin-bottom: 0;
}

#party p {
	margin-bottom: 1em;
}

li {
	@include typeBody;
	text-align: center;
}

#information ul {
	list-style-type: square;
	list-style-position: inside;
	text-indent: -1em;
    padding-left: 1em;
}

ol {
	margin-bottom: 1em;

	li {
		text-align: left;
		margin-left: 3em;
	}
}

nav li {
	color: $cream;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	transition: color .3s;
}

nav li:hover {
	color: $wine;
}

#information a {
	@include typeBody;
	color: $rose;
	text-decoration: none;
}

#information a:hover {
	color: $wine;
	transition: color .3s;
}

.listheader {
	margin-top: 1em;
}