/* line 1, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/_reset.scss */
ul {
  list-style: none;
}

/* line 32, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 31, ../sass/_type.scss */
h1 {
  padding-top: 3rem;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 48pt;
  text-align: center;
  color: #E2BF71;
  margin-bottom: 1em;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

/* line 36, ../sass/_type.scss */
#intro h1 {
  padding-top: 0;
  color: #E2BF71;
}

/* line 41, ../sass/_type.scss */
#outro h1 {
  color: #FFF9F3;
}

/* line 45, ../sass/_type.scss */
#ourstory h1 {
  color: #893F61;
}

/* line 49, ../sass/_type.scss */
#party h1 {
  color: #82936D;
}

/* line 53, ../sass/_type.scss */
h2 {
  font-family: 'Bree Serif', cursive;
  font-size: 18pt;
  line-height: 1.7em;
  color: #544C51;
  text-align: center;
  margin-bottom: 1em;
}

/* line 58, ../sass/_type.scss */
#party h2 {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 48pt;
  text-align: center;
  color: #E2BF71;
  margin-bottom: 1em;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 30pt;
  text-shadow: none;
}

/* line 64, ../sass/_type.scss */
#party h2 {
  color: #82936D;
}

/* line 68, ../sass/_type.scss */
#intro h2 {
  color: #FFF9F3;
}

/* line 72, ../sass/_type.scss */
h3 {
  font-family: 'Bree Serif', cursive;
  font-size: 18pt;
  line-height: 1.7em;
  color: #544C51;
  text-align: center;
}

/* line 76, ../sass/_type.scss */
p {
  font-family: 'Bree Serif', serif;
  font-size: 14pt;
  line-height: 1.7em;
  color: #544C51;
  margin-bottom: 1em;
}

/* line 81, ../sass/_type.scss */
#intro p {
  color: #FFF9F3;
}

/* line 85, ../sass/_type.scss */
p.marasignature {
  text-align: right;
  color: #82936D;
}

/* line 90, ../sass/_type.scss */
p.philsignature {
  text-align: right;
  color: #82936D;
}

/* line 95, ../sass/_type.scss */
#information p {
  color: #FFF9F3;
  text-align: center;
}

/* line 100, ../sass/_type.scss */
#party p {
  margin-bottom: 1em;
}

/* line 104, ../sass/_type.scss */
li {
  font-family: 'Bree Serif', serif;
  font-size: 14pt;
  line-height: 1.7em;
  color: #544C51;
  text-align: center;
}

/* line 109, ../sass/_type.scss */
ol {
  margin-bottom: 1em;
}
/* line 112, ../sass/_type.scss */
ol li {
  text-align: left;
  margin-left: 3em;
}

/* line 118, ../sass/_type.scss */
nav li {
  color: #FFF9F3;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: color .3s;
}

/* line 124, ../sass/_type.scss */
nav li:hover {
  color: #893F61;
}

/* line 19, ../sass/_grid.scss */
nav {
  z-index: 999;
  background-color: #E2BF71;
  position: fixed;
  display: block;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 10px -10px #222;
  opacity: .95;
}
/* line 29, ../sass/_grid.scss */
nav ul {
  display: block;
  width: 27em;
  margin: 0 auto;
  position: relative;
}
/* line 35, ../sass/_grid.scss */
nav ul li {
  display: inline-block;
  padding: 1em .7em;
}

/* line 43, ../sass/_grid.scss */
section {
  padding: 5em 1em;
  box-shadow: inset 0 9px 10px -8px rgba(0, 0, 0, 0.4);
  overflow: auto;
  clear: both;
}

/* line 50, ../sass/_grid.scss */
#intro {
  background-color: #893F61;
  padding-top: 10em;
}

/* line 55, ../sass/_grid.scss */
#ourstory {
  background-color: #FFF9F3;
}

/* line 59, ../sass/_grid.scss */
#information {
  background-color: #82936D;
}

/* line 63, ../sass/_grid.scss */
#party {
  background-color: #FFF9F3;
}

/* line 67, ../sass/_grid.scss */
#outro {
  background-color: #E2BF71;
}

/* line 71, ../sass/_grid.scss */
div {
  margin-bottom: 1em;
}

/* line 75, ../sass/_grid.scss */
img {
  max-width: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 4px 6px -6px #222;
}

/* line 84, ../sass/_grid.scss */
#intro img {
  position: relative;
  width: 60%;
  margin: 0 20%;
  display: inline;
  margin-bottom: 1.5em;
  border-radius: 50%;
}

/* line 94, ../sass/_grid.scss */
#intro p {
  margin-bottom: 3em;
}

/* line 98, ../sass/_grid.scss */
#party img {
  width: 60%;
  margin: 0;
  display: inline;
  border-radius: 50%;
  margin-bottom: .5em;
}

/* line 106, ../sass/_grid.scss */
#party li {
  display: inline-block;
  margin-bottom: 1.5em;
}

/* line 111, ../sass/_grid.scss */
.hiddenmobile {
  display: none;
}

@media (min-width: 48em) {
  /* line 116, ../sass/_grid.scss */
  .hiddenmobile {
    display: inherit;
  }

  /* line 119, ../sass/_grid.scss */
  .mara {
    width: 40%;
    float: left;
    padding-left: 5%;
    clear: left;
  }

  /* line 123, ../sass/_grid.scss */
  .phil {
    width: 40%;
    float: right;
    padding-right: 5%;
    clear: right;
  }

  /* line 127, ../sass/_grid.scss */
  #information p {
    width: 40%;
    margin: 0 auto;
  }

  /* line 131, ../sass/_grid.scss */
  #party img {
    width: 60%;
  }

  /* line 134, ../sass/_grid.scss */
  #party h2 {
    margin-bottom: 1em;
  }

  /* line 137, ../sass/_grid.scss */
  #party p {
    margin-bottom: 3em;
  }
}
@media (min-width: 90em) {
  /* line 143, ../sass/_grid.scss */
  .contentwrapper {
    width: 80em;
    margin: 0 auto;
  }
}
